target/
build/
.idea/
*.iml
.gradle
*.prefs
*.class*
*.factorypath
*.project
*.processors
*/bin/
.DS_Store

inject-generator/avaje-inject
inject-generator/avaje-inject-generator
inject-generator/avaje-processors.txt
inject-generator/avaje-module-dependencies.csv
inject-generator/avaje-plugins.csv
